<%- include("partials/header"); -%>

    <div class="functions">
      <div class="input-section">
        <form class="" action="/" method="post">
          <input type="text" class="light-theme-elements shadow" style="padding-left:20px;" name="name" value="" placeholder="Search for a country">
        </form>

      </div>
      <div class="dropdown light-theme">
        <button class="light-theme-elements btn btn-light dropdown-toggle shadow" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Filter by Region
        </button>
        <ul class="dropdown-menu light-theme-elements" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item light-theme-elements" href="/region/africa">Africa</a></li>
          <li><a class="dropdown-item light-theme-elements" href="/region/america">America</a></li>
          <li><a class="dropdown-item light-theme-elements" href="/region/asia">Asia</a></li>
          <li><a class="dropdown-item light-theme-elements" href="/region/europe">Europe</a></li>
          <li><a  class="dropdown-item light-theme-elements" href="/region/oceania">Oceania</a></li>
        </ul>
      </div>
    </div>

  <div class="list">
    <% list.forEach((item, i) => { %>

    <div class="items light-theme-elements">
      <a href=<%= item.name %> >
      <img src=<%= item.flag%> alt="">
      <h1 class="item-heading"> <%= item.name %> </h1>
      <p class="item-info"><span>Population:</span> <%= item.population %> </p>
      <p class="item-info"><span>Region:</span> <%= item.region %> </p>
      <p class="item-info"><span>Captial:</span> <%= item.capital %> </p>
      </a>
    </div>

    <% }); %>
  </div>

  <%- include("partials/footer"); -%>
